.search-pet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw 0vw 4vw;
    width: 90vw;
}

.search-pet h3 {
    margin-bottom: 1vw;
}

.search-buttton{
    background-color: #f9d13b;
    color: #454c41;
    margin-top: 2vw;
    margin-bottom: 1vw;
    height: 4vh;
    border-radius: 0.5rem;
    border: transparent;
}

.form-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 240, 240);
    border-radius: 20px;
    border: solid 0.2vw #fff;
    padding: 0 1vw 0 1vw;
    width: 90vw;
    height: 6vh;
}

.filters{
    display: flex;
    width: 90vw;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    color: #454c41;
}

.filters select{
    position: static;
    left: 10vw;
}



.filters div {
    margin-left: 1vw;
}

.submit-search{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 10vw;
    padding: 0 1vw 1vw 0;
}

@media (max-width: 768px) {
    .form-search {
        flex-direction: column;
    }

    .form-search {
        height: 100%
    }

    .filter {
        display: flex;
        flex-direction: column;
        justify-self: start;
        margin: 1vh 0;
    }

    .filters {
        display: flex;
        flex-direction: column;

    }
}

@media (max-width: 430px) {
    .submit-search{
        padding: 1vh 0 1vh 0;
        width: auto;
    }

    .submit-search button {
        width: 300px;
    }

    .search-pet{
        height: 100%
    }

    .form-search{
        height: 100%
    }

    .form-search button {
        width: 300px;
    }
}
